.Art
{
height: 100px;
width: 100px;
}
.My-container
{
   display:flex;
   flex-direction: column;
   align-items: center;
}
.project
{
   display: flex;
   flex-direction: column;
   align-items: center;
}

html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.form input[type="number"] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}
